name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install templ
        run: go install github.com/a-h/templ/cmd/templ@latest

      - name: Generate
        run: templ generate

      - name: Test
        run: go test ./... -v

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
